@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utils {
  .m-0-auto {
    margin: 0 auto;
  }

  .bg-church-image {
    background-image: url('../public/images/pelayananBackground.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@layer verticalbar {
  ::-webkit-scrollbar {
    height: 3px;
    width: 8px;
    background: gray;
  }

  ::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  ::-webkit-scrollbar-thumb:vertical {
    background: #93918e;
    border-radius: 10px;
  }
}

@layer navigation {
  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-item {
    position: relative;
  }

  .menu-item > p,
  .menu-item > span {
    cursor: pointer;
  }

  .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .menu-item:hover .submenu,
  .menu-item:focus-within .submenu {
    display: block;
  }

  .submenu-item {
    padding: 8px 16px;
  }

  .submenu-item > p,
  .submenu-item > span {
    cursor: pointer;
  }
}
