@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utils {
  .m-0-auto {
    margin: 0 auto;
  }

  .bg-church-image {
    background-image: url('../public/images/pelayananBackground.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@layer verticalbar {
  ::-webkit-scrollbar {
    height: 3px;
    width: 8px;
    background: gray;
  }

  ::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  ::-webkit-scrollbar-thumb:vertical {
    background: #93918e;
    border-radius: 10px;
  }
}

@layer navigation {
  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-item {
    position: relative;
  }

  .menu-item > p,
  .menu-item > span {
    cursor: pointer;
  }

  .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
  }

  .submenu.open {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .submenu-item {
    padding: 8px 16px;
  }

  .submenu-item > p,
  .submenu-item > span {
    cursor: pointer;
  }
}


/* Add this to your global CSS or a relevant CSS file */
@keyframes complexShine {
  0% {
    background-position: -100%;
  }
  50% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.shine-effect {
  position: relative;
  overflow: hidden;
}

.shine-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(74, 255, 74, 0.3) 20%,
    rgba(78, 174, 78, 0.5) 60%,
    rgba(255, 255, 255, 0.1) 100%
  );
  background-size: 200%;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.shine-effect:hover::before {
  animation: complexShine 1s forwards;
  opacity: 1;
}
